<p>Ammo autoequip while bow/crossbow/thrown weapon readied. It will remember and prefer last hand-picked ammo if pressing Alt while equipping it. An OpenMW-Lua port of <a href="https://www.nexusmods.com/morrowind/mods/47383">Abot's original</a>.</p>
<div class="center">
  <img src="/img/smart-ammo.gif" title="The mod in action" />
</div>
<div class="center">
  <img src="/img/modathon-2022.png" title="Part of the May Modathon 2022!" />
</div>
<h4 id="features">Features:</h4>
<ul>
  <li>Auto-equips the correct ammo when a marksman-type weapon is equipped...</li>
  <li>... and when your current ammo runs out, it's auto-restocked with another of the correct type (if you have any).</li>
  <li>Settings menu allows toggling messages on or off (on by default).</li>
</ul>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above (OpenMW 0.48.0 or newer is required!)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Gameplay\SmartAmmo

# Linux
/home/username/games/OpenMWMods/Gameplay/SmartAmmo

# macOS
/Users/username/games/OpenMWMods/Gameplay/SmartAmmo</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Gameplay\SmartAmmo"</code>)</li>
  <li>Add <code>content=smart-ammo.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher</li>
  <li>Enjoy!</li>
</ol>
